In [ ]:
print('Welcome to numpy Learnings 1')

Welcome to numpy Learnings 1

NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.

# Two ways to do square of each element in a list:

In [ ]:
a = [1,2,3,4,5]
b = [i**2 for i in a]
print(b)

[1, 4, 9, 16, 25]

In [2]:
import numpy as np # as means alias

# Numpy supports element wise operation:

In [ ]:
a = np.array([1,2,3,4,5])
a ** 2

array([ 1,  4,  9, 16, 25])

In [ ]:
print(a ** 2) #

[ 1  4  9 16 25]

In [ ]:
b = np.array([1,2,3,4,5])
print(b)

[1 2 3 4 5]

# Type of np.array

In [ ]:
type(b) # type of np.array is ndarray. An ndarray is a (usually fixed-size) multidimensional container of items of the same type and size. nd = n dimensional.

numpy.ndarray

# Data type of np array's elements

In [ ]:
b.dtype   # dtype: Data type objects gives us Data-type of the array's elements.

dtype('int64')

In [ ]:
print(b.dtype)

int64

# Speed Comparison of python and numpy

In [ ]:
a = range(10000)   # 0 - 9999

In [ ]:
%timeit [i**2 for i in a] # 7 runs, 100 loops each: Here it decided that it does not need more than 100 loops to find 7 best runs that can give estimate average time this piece of code takes.

2.92 ms ± 66.9 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [ ]:
b = np.arange(10000)

In [ ]:
%timeit b ** 2   # 7 runs, 100000 loops each: Means that it needs 100000 loops to find 7 best out of it for returning the average time it(this piece of code) takes.

6.67 µs ± 83.2 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

A millisecond (ms or msec) is one thousandth of a second and is commonly used in measuring the time to read to or write from a hard disk or a CD-ROM player or to measure packet travel time on the Internet. For comparison, a microsecond (us or Greek letter mu plus s) is one millionth (10^6) of a second.

1 ms = 1,000 µs

2.92 ms = 2,920 µs # time taken here by python list

6.67 µs = 0.00667 ms # time taken here by np array

**Why is nparray so fast?** It is built in C.


---

# **Difference between range and arange:**

In [ ]:
a = range(1,10,5)

In [ ]:
for i in a:
  print(i)

1
6

In [ ]:
b = np.arange(1,10,0.5) # We can take float values in arange.
print(b)

[1.  1.5 2.  2.5 3.  3.5 4.  4.5 5.  5.5 6.  6.5 7.  7.5 8.  8.5 9.  9.5]

Thus, reasons why we use numpy:
1. Fast - check above
2. Cleaner syntax is comprehensible(able to be understood) - `[i**2 for i in a]` vs `b ** 2`
3. Element wise operation - check above
4. Functions - many functions provided in numpy which would have been very difficult in Python
5. Homogeneous - See below


---

# **Homogeneous nature of numpy arrays:**

In [ ]:
a = [1,2,3,'scaler', 1.2] 
print(a)

[1, 2, 3, 'scaler', 1.2]

In [ ]:
b = np.array([1,2,3,'scaler', 1.2])    # Every element gets turned into a string.  
print(b)

['1' '2' '3' 'scaler' '1.2']

Inference: It means that even if you try to create a heterogeneous(elements with different data type) np array, it's going to turn(implicit conversion) the elements into homogeneous(elements with similar data type) elements by changing the data type that suits best.

It is based on C (programming language) arrays.



---

# **How elements are stored in Python list vs Numpy array:**

Notice below how elements in python list are scattered and are of different sizes, whereas elements in Numpy array are of the same size and thus, can be saved in a contiguous manner.


Python list saves references to the memory blocks where the elements are actually stored. So, there's overhead involved(in actually using the reference to the reach the actual value). 

In np array, there's less overhead since all elements are stored in a contiguous fashion. All elements are easily accessible one after the other. A particular element can be directly accessed. Moreover, you can perform faster operations on contiguous elements of array. 

Overhead is minimum as not much address translations are there while executing a process.

![767ysmx0hpyq62ba89uh.png]()



---


# **Implicit type conversion in np.array:**

In [ ]:
a = np.array([1,2,3,4,5])
print(a)
print(type(a))
print(a.dtype)

[1 2 3 4 5]
<class 'numpy.ndarray'>
int64

In [ ]:
a = np.array([1,2,3,4,5,4.5])
print(a)
print(type(a))
print(a.dtype)

[1.  2.  3.  4.  5.  4.5]
<class 'numpy.ndarray'>
float64

In [ ]:
a = np.array([1,2,3,4,5,'a'])
print(a)
print(type(a))
print(a.dtype)

['1' '2' '3' '4' '5' 'a']
<class 'numpy.ndarray'>
<U21

In [ ]:
a = np.array([1,2,3,4,5,'a', 4.5])
print(a)
print(type(a))
print(a.dtype) 

''' U32: U stands for unicode and 32 stands for number of bytes it is taking to store each of these elements.

(The Unicode Standard is an information technology standard for 
the consistent encoding, representation, and handling of text expressed in most of the world's writing systems.) '''

['1' '2' '3' '4' '5' 'a' '4.5']
<class 'numpy.ndarray'>
<U32

In [ ]:
a = np.array([True, False])
print(a)
print(type(a))
print(a.dtype)

[ True False]
<class 'numpy.ndarray'>
bool

In [ ]:
a = np.array([True, False, 1])   # bool has less precedence than int.
print(a)
print(type(a))
print(a.dtype)

[1 0 1]
<class 'numpy.ndarray'>
int64

Inference: implicit type conversion happens in np arrays. How?

Preference is given as follow:

**bool << int << float << string**

In cell 9 above, a has int, str and float, but everything is converted to str since it has the most precedence.

# Dimension and shape of np array:

In [ ]:
a = np.array([1,2,3,4,5])
b = np.array([[1,2,3], [4,5,6]])
print(a.ndim)   # dimensions = directions
print(b.ndim)

1
2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
print(a.shape) # how many elements in a particular direction.
print(b.shape) # you can say 2 row, 3 columns.

(5,)
(2, 3)

# linspace in numpy: gives equally spaced values between start and stop(included) values.

In [ ]:
# a = np.arange(Start, Stop, Step) What if we don't want steps? But, we want a certain number of elements between that range? That's where linspace comes in.

In [ ]:
np.linspace(start, stop, num) # num: how many values do I want between start and stop. Stop: stop values that's included by default unlike range/arange function.

In [ ]:
a = np.linspace(1,10,10)
print(a)

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10.]

In [ ]:
a = np.linspace(1,10, 19) 
print(a)  # The output values are float because it has to provide equally spaced values. If you subtract any two numbers then, x2 - x1 = x3 - x2. Thus, the difference remains same.

[ 1.   1.5  2.   2.5  3.   3.5  4.   4.5  5.   5.5  6.   6.5  7.   7.5
  8.   8.5  9.   9.5 10. ]

In [ ]:
a = np.linspace(1,20,20)
print(a)
print(type(a))

[ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20.]
<class 'numpy.ndarray'>

In [ ]:
a = np.linspace(1,10,31)
print(a)

[ 1.   1.3  1.6  1.9  2.2  2.5  2.8  3.1  3.4  3.7  4.   4.3  4.6  4.9
  5.2  5.5  5.8  6.1  6.4  6.7  7.   7.3  7.6  7.9  8.2  8.5  8.8  9.1
  9.4  9.7 10. ]

# 2 D array in numpy

In [ ]:
a = np.array([[1,2,3], [4,5,6], [7,8,9]])
print(a)

[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [ ]:
print(type(a))

<class 'numpy.ndarray'>

In [ ]:
print(a.ndim)

2

In [ ]:
print(a.shape)

(3, 3)

In [ ]:
b = np.array([[1,2,3], [4,5,6,7]])
print(b) # It gives DeprecationWarning. Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated.

[list([1, 2, 3]) list([4, 5, 6, 7])]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  """Entry point for launching an IPython kernel.

# reshape in numpy:

In [ ]:
a = np.arange(1,13)
print(a)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [ ]:
a.reshape((1,12)) # It converts 1D array to 2D array

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12]])

In [ ]:
a.reshape((12,1))

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12]])

In [ ]:
a.reshape((6,2))

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [ ]:
a.reshape((2,6))

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [ ]:
a.reshape((3,4))

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [ ]:
a.reshape((4,3))

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [ ]:
a.reshape((-1,6)) # Use -1 when you're not sure about the number of rows.

array([[ 1,  2,  3,  4,  5,  6],
       [ 7,  8,  9, 10, 11, 12]])

In [ ]:
a.reshape((6,-1))

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [11, 12]])

In [ ]:
a.reshape((-1,-1))  # ValueError: can only specify one unknown dimension

ValueError: ignored

In [ ]:
a.reshape((10,2))   # ValueError: cannot reshape array of size 12 into shape (10,2)

ValueError: ignored

In [ ]:
a.reshape((-1,1)) # important to know

array([[ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11],
       [12]])

In [ ]:
a.reshape((1,-1)) # important to know

array([[ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12]])

In [ ]:
b = np.arange(1,17)

In [ ]:
c = b.reshape((1,16))
print(c)

[[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16]]

In [ ]:
c.shape

(1, 16)

In [ ]:
c.ndim

2

In [ ]:
c = b.reshape((16,1))
print(c)

[[ 1]
 [ 2]
 [ 3]
 [ 4]
 [ 5]
 [ 6]
 [ 7]
 [ 8]
 [ 9]
 [10]
 [11]
 [12]
 [13]
 [14]
 [15]
 [16]]

In [ ]:
c.shape

(16, 1)

In [ ]:
b = np.arange(1,13)
print(b)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [ ]:
c = b.reshape((3,4))
print(c)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

**Some functions:**

In [ ]:
c.T

array([[ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11],
       [ 4,  8, 12]])

In [ ]:
c

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

**2D array to 1D array:**

In [ ]:
c.flatten() # flattening the array.

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

**Chaining:**

In [4]:
b = np.arange(1,13).reshape((3,4)) # You can chain different functions like this.
print(b)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]]

# Slicing/Accessing elements in a 1D numpy array:

[start: end: step]

In [5]:
a = np.arange(1,13)

In [6]:
print(a)

[ 1  2  3  4  5  6  7  8  9 10 11 12]

In [8]:
a[0:5] # last index is ignored ie. index 5 is exclusive.

array([1, 2, 3, 4, 5])

In [9]:
a[5:11]

array([ 6,  7,  8,  9, 10, 11])

In [10]:
a[-1] # get the last index

12

In [11]:
a[4]

5

In [12]:
a[-4:]

array([ 9, 10, 11, 12])

In [13]:
a[::3] # a jump of 3

array([ 1,  4,  7, 10])

In [14]:
a[::-1] # elements in reverse

array([12, 11, 10,  9,  8,  7,  6,  5,  4,  3,  2,  1])

In [15]:
a[::-2]

array([12, 10,  8,  6,  4,  2])

In [16]:
a

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [17]:
a[-2:-10:-1]

array([11, 10,  9,  8,  7,  6,  5,  4])

In [18]:
a[-10:-2:-1] # We're supposed to be going in the right direction (from -10) towards -2 , but -1 makes us go in the left direction. Hence, it gives us empty array.

array([], dtype=int64)

In [19]:
a[12::1] # There's no index 12. Hence, an empty array.

array([], dtype=int64)

# 2 D numpy array: Accessing elements/slicing

Two ways:
`a[row][column]` # Method 1 - Sometimes causes issues.

`a[row,column]` # Method 2 - Preferred.

In [22]:
a = np.arange(1,13).reshape((4,3))

In [23]:
print(a)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [24]:
a[0] # access rows

array([1, 2, 3])

In [26]:
a[0,:] # [r,c] - gives the same output as above

array([1, 2, 3])

In [28]:
a[:2]

array([[1, 2, 3],
       [4, 5, 6]])

In [29]:
a[:2, :] # Gives same output as above

array([[1, 2, 3],
       [4, 5, 6]])

In [30]:
 a[1:3, :]

array([[4, 5, 6],
       [7, 8, 9]])

In [32]:
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [31]:
a[1:3,:2] # Here, we're taking row from index 1 to 2 and column from index 0 to 1

array([[4, 5],
       [7, 8]])

In [33]:
a[1:3, 1:2]

array([[5],
       [8]])

In [34]:
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [35]:
a[::2, ::2] # jump of 2 for both

array([[1, 3],
       [7, 9]])

In [36]:
a[1::2, ::2]

array([[ 4,  6],
       [10, 12]])

**Accessing specific rows and columns:**

In [38]:
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [37]:
a[[0, 1, 3], :] # Mentioning array of indexes of specific rows to get those specific rows.

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [10, 11, 12]])

In [43]:
a[(0, 1, 3), :] # You can use tuple instead of list here. But, you can only use a tuple in 2D array.

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [10, 11, 12]])

In [40]:
x = np.array([1,2,3])
x[(0,2)] # tuple doesn't work for 1D array

IndexError: ignored

In [41]:
x = np.array([1,2,3]) 
x[[0,2]]  # 1D array - Accessing rows by giving array of list indexes works.

array([1, 3])

In [44]:
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [46]:
a[(0,1,3), 1:]

array([[ 2,  3],
       [ 5,  6],
       [11, 12]])

**Accessing (r,c) pairs:**

In [49]:
a

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [48]:
a[[0,1,3], [1,2,0]]    # Special case - Observe that it gives the elements with r,c from corresponding arrays as (0,1), (1,2), (3,0).

array([ 2,  6, 10])

![Artboard – 1.png]()